<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="DayOne - It is one of the Major Dashboard Template which includes - HR, Employee and Job Dashboard. This template has multipurpose HTML template and also deals with Task, Project, Client and Support System Dashboard." name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="admin dashboard, admin panel template, html admin template, dashboard html template, bootstrap 4 dashboard, template admin bootstrap 4, simple admin panel template, simple dashboard html template,  bootstrap admin panel, task dashboard, job dashboard, bootstrap admin panel, dashboards html, panel in html, bootstrap 4 dashboard" />

    <!-- Title -->
    <title>Dayone - Multipurpose Admin & Dashboard Template</title>

    <!--Favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/dark.css" rel="stylesheet" />
    <link href="../../assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="../../assets/css/animated.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!---Sidebar css-->
    <link href="../../assets/plugins/sidebar/sidebar.css" rel="stylesheet" />

    <!-- Select2 css -->
    <link href="../../assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!--- INTERNAL jvectormap css-->
    <link href="../../assets/plugins/jvectormap/jqvmap.css" rel="stylesheet" />

    <!-- INTERNAL Data table css -->
    <link href="../../assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- INTERNAL Time picker css -->
    <link href="../../assets/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" />

    <!-- INTERNAL jQuery-countdowntimer css -->
    <link href="../../assets/plugins/jQuery-countdowntimer/jQuery.countdownTimer.css" rel="stylesheet" />

</head>

<body class="dark-mode">

    <!---Global-loader-->
    <div id="global-loader">
        <img src="../../assets/images/svgs/loader.svg" alt="loader">
    </div>

    <div class="page">
        <div class="page-main">

            <!--app header-->
            <div class="hor-header header">
                <div class="container">
                    <div class="d-flex">
                        <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
                        <a class="header-brand" href="index.html">
                            <img src="../../assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Dayonelogo">
                            <img src="../../assets/images/brand/logo-white.png" class="header-brand-img dark-logo" alt="Dayonelogo">
                            <img src="../../assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Dayonelogo">
                            <img src="../../assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
                        </a>
                        <div class="mt-0">
                            <form class="form-inline">
                                <div class="search-element">
                                    <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
                                    <button class="btn btn-primary-color">
                                        <i class="feather feather-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div><!-- SEARCH -->
                        <div class="d-flex order-lg-2 my-auto ml-auto">
                            <a class="nav-link my-auto icon p-0 nav-link-lg d-md-none navsearch" href="#" data-toggle="search">
                                <i class="feather feather-search search-icon header-icon"></i>
                            </a>
                            <div class="dropdown header-flags">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <img src="../../assets/images/flags/flag-png/united-kingdom.png" class="h-24" alt="img">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                    <a href="#" class="dropdown-item d-flex ">
                                        <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/india.png" alt="img" class="h-24"></span>
                                        <div class="d-flex"> <span class="my-auto">India</span> </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex">
                                        <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/united-kingdom.png" alt="img" class="h-24"></span>
                                        <div class="d-flex"> <span class="my-auto">UK</span> </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex">
                                        <span class="avatar mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/italy.png" alt="img" class="h-24"></span>
                                        <div class="d-flex"> <span class="my-auto">Italy</span> </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex">
                                        <span class="avatar mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/united-states-of-america.png" class="h-24" alt="img"></span>
                                        <div class="d-flex"> <span class="my-auto">US</span> </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex">
                                        <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/spain.png" alt="img" class="h-24"></span>
                                        <div class="d-flex"> <span class="my-auto">Spain</span> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown header-fullscreen">
                                <a class="nav-link icon full-screen-link">
                                    <i class="feather feather-maximize fullscreen-button fullscreen header-icons"></i>
                                    <i class="feather feather-minimize fullscreen-button exit-fullscreen header-icons"></i>
                                </a>
                            </div>
                            <div class="dropdown header-message">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="feather feather-mail header-icon"></i>
                                    <span class="badge badge-success side-badge">5</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  animated">
                                    <div class="header-dropdown-list message-menu" id="message-menu">
                                        <a class="dropdown-item border-bottom" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/1.jpg"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="pl-3">
                                                        <h6 class="mb-1">Jack Wright</h6>
                                                        <p class="fs-13 mb-1">All the best your template awesome</p>
                                                        <div class="small text-muted">
                                                            3 hours ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-bottom" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/2.jpg"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="pl-3">
                                                        <h6 class="mb-1">Lisa Rutherford</h6>
                                                        <p class="fs-13 mb-1">Hey! there I'm available</p>
                                                        <div class="small text-muted">
                                                            5 hour ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-bottom" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/3.jpg"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="pl-3">
                                                        <h6 class="mb-1">Blake Walker</h6>
                                                        <p class="fs-13 mb-1">Just created a new blog post</p>
                                                        <div class="small text-muted">
                                                            45 mintues ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-bottom" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/4.jpg"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="pl-3">
                                                        <h6 class="mb-1">Fiona Morrison</h6>
                                                        <p class="fs-13 mb-1">Added new comment on your photo</p>
                                                        <div class="small text-muted">
                                                            2 days ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-bottom" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/6.jpg"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="pl-3">
                                                        <h6 class="mb-1">Stewart Bond</h6>
                                                        <p class="fs-13 mb-1">Your payment invoice is generated</p>
                                                        <div class="small text-muted">
                                                            3 days ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class=" text-center p-2">
                                        <a href="#" class="">See All Messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown header-notify">
                                <a class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
                                    <i class="feather feather-bell header-icon"></i>
                                    <span class="bg-dot"></span>
                                </a>
                            </div>
                            <div class="dropdown profile-dropdown">
                                <a href="#" class="nav-link pr-1 pl-0 leading-none" data-toggle="dropdown">
                                    <span>
                                        <img src="../../assets/images/users/16.jpg" alt="img" class="avatar avatar-md bradius">
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                    <div class="p-3 text-center border-bottom">
                                        <a href="#" class="text-center user pb-0 font-weight-bold">John Thomson</a>
                                        <p class="text-center user-semi-title">App Developer</p>
                                    </div>
                                    <a class="dropdown-item d-flex" href="#">
                                        <i class="feather feather-user mr-3 fs-16 my-auto"></i>
                                        <div class="mt-1">Profile</div>
                                    </a>
                                    <a class="dropdown-item d-flex" href="#">
                                        <i class="feather feather-settings mr-3 fs-16 my-auto"></i>
                                        <div class="mt-1">Settings</div>
                                    </a>
                                    <a class="dropdown-item d-flex" href="#">
                                        <i class="feather feather-mail mr-3 fs-16 my-auto"></i>
                                        <div class="mt-1">Messages</div>
                                    </a>
                                    <a class="dropdown-item d-flex" href="#" data-toggle="modal" data-target="#changepasswordnmodal">
                                        <i class="feather feather-edit-2 mr-3 fs-16 my-auto"></i>
                                        <div class="mt-1">Change Password</div>
                                    </a>
                                    <a class="dropdown-item d-flex" href="#">
                                        <i class="feather feather-power mr-3 fs-16 my-auto"></i>
                                        <div class="mt-1">Sign Out</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/app header-->
            <!--/Horizontal-main -->
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">


        <!-- Back to top -->
        <a href="#top" id="back-to-top"><span class="feather feather-chevrons-up"></span></a>

    </footer>
    

    <!-- Jquery js-->
    <script src="../../assets/plugins/jquery/jquery.min.js"></script>

    <!--Moment js-->
    <script src="../../assets/plugins/moment/moment.js"></script>

    <!-- Bootstrap4 js-->
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="../../assets/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!--Horizontalmenu js -->
    <script src="../../assets/plugins/horizontal-menu/horizontal-menu.js"></script>

    <!--Sticky js -->
    <script src="../../assets/js/sticky.js"></script>

    <!-- P-scroll js-->
    <script src="../../assets/plugins/p-scrollbar/p-scrollbar.js"></script>

    <!--Sidebar js-->
    <script src="../../assets/plugins/sidebar/sidebar.js"></script>

    <!-- Select2 js -->
    <script src="../../assets/plugins/select2/select2.full.min.js"></script>

    <!-- INTERNAL Peitychart js-->
    <script src="../../assets/plugins/peitychart/jquery.peity.min.js"></script>
    <script src="../../assets/plugins/peitychart/peitychart.init.js"></script>

    <!-- INTERNAL Apexchart js-->
    <script src="../../assets/plugins/apexchart/apexcharts.js"></script>

    <!-- INTERNAL Vertical-scroll js-->
    <script src="../../assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js"></script>
    <script src="../../assets/plugins/vertical-scroll/vertical-scroll.js"></script>

    <!-- INTERNAL  Datepicker js -->
    <script src="../../assets/plugins/date-picker/jquery-ui.js"></script>

    <!-- INTERNAL Chart js -->
    <script src="../../assets/plugins/chart/chart.bundle.js"></script>
    <script src="../../assets/plugins/chart/utils.js"></script>

    <!-- INTERNAL Timepicker js -->
    <script src="../../assets/plugins/time-picker/jquery.timepicker.js"></script>
    <script src="../../assets/plugins/time-picker/toggles.min.js"></script>

    <!-- INTERNAL Chartjs rounded-barchart -->
    <script src="../../assets/plugins/chart.min/chart.min.js"></script>
    <script src="../../assets/plugins/chart.min/rounded-barchart.js"></script>

    <!-- INTERNAL jQuery-countdowntimer js -->
    <script src="../../assets/plugins/jQuery-countdowntimer/jQuery.countdownTimer.js"></script>

    <!-- INTERNAL Index js-->
    <script src="../../assets/js/index1-dark.js"></script>

    <!-- Custom js-->
    <script src="../../assets/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Calendar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Calendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@

