<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="DayOne - It is one of the Major Dashboard Template which includes - HR, Employee and Job Dashboard. This template has multipurpose HTML template and also deals with Task, Project, Client and Support System Dashboard." name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="admin dashboard, admin panel template, html admin template, dashboard html template, bootstrap 4 dashboard, template admin bootstrap 4, simple admin panel template, simple dashboard html template,  bootstrap admin panel, task dashboard, job dashboard, bootstrap admin panel, dashboards html, panel in html, bootstrap 4 dashboard" />

    <!-- Title -->
    <title>Dayone - Multipurpose Admin & Dashboard Template</title>

    <!--Favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon.png" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/dark.css" rel="stylesheet" />
    <link href="../../assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="../../assets/css/animated.css" rel="stylesheet" />

    <!--Sidemenu css -->
    <link href="../../assets/css/sidemenu.css" rel="stylesheet">

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!---Sidebar css-->
    <link href="../../assets/plugins/sidebar/sidebar.css" rel="stylesheet" />

    <!---Sidebar css-->
    <link href="../../assets/plugins/sidebar/sidebar.css" rel="stylesheet" />

    <!--FullCalendar-->
    <link href="//cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css" rel="stylesheet" />

    <!-- INTERNAL Data table css -->
    <link href="../../assets/plugins/datatable/datatables.min.css" rel="stylesheet" />
    <link href="../../assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../../assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../../assets/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet" />

    <!-- INTERNAL Pg-calendar-master css -->
    <link href="../../assets/plugins/pg-calendar-master/pignose.calendar.css" rel="stylesheet" />

    <!--Custom Styles-->
    <link href="../../css/site.css" rel="stylesheet" />
    //Calendar css file
    bundles.Add(new StyleBundle("~/Content/fullcalendarcss").Include(
    "~/Content/themes/jquery.ui.all.css",
    "~/Content/fullcalendar.css"));


</head>

<body class="app sidebar-mini dark-mode">

    <!---Global-loader-->
    <div id="global-loader">
        <img src="../../assets/images/svgs/loader.svg" alt="loader">
    </div>

    <div class="page">
        <div class="page-main">

            <!--aside open-->
            <aside class="app-sidebar" style="background:#191d43;">
                <div class="app-sidebar__logo">
                    <a class="header-brand" asp-action="Index" asp-controller="Home">
                        <img src="../../assets/images/brand/logo-white.png" class="header-brand-img dark-logo w-75 mb-5 h-auto" alt="logo">
                        <img src="../../assets/images/brand/calendarFavicon.png" class="header-brand-img darkmobile-logo" alt="logo">
                    </a>
                </div>
                <div class="app-sidebar3">
                    <div class="app-sidebar__user">
                        <div class="dropdown user-pro-body text-center">
                            <div class="user-pic">
                                <img src="../../assets/images/users/16.jpg" alt="user-img" class="avatar-xxl rounded-circle mb-1">
                            </div>
                            <div class="user-info">
                                <h5 class=" mb-2">Abigali kelly</h5>
                                <span class="text-muted app-sidebar__user-name text-sm">App Developer</span>
                            </div>
                        </div>
                    </div>
                    <ul class="side-menu">
                        <li class="slide">
                            <a class="side-menu__item" data-toggle="slide" href="#">
                                <i class="feather feather-home sidemenu_icon"></i>
                                <span class="side-menu__label">Patients</span><i class="angle fa fa-angle-right"></i>
                            </a>
                            <ul class="slide-menu">
                                <li><a asp-action="Index" asp-controller="Patients" class="slide-item">All Patients</a></li>
                                <li><a class="slide-item" asp-action="Create" asp-controller="Patients">Add Patients</a></li>
                                <li><a href="hr-award.html" class="slide-item">Assign Patient</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-toggle="slide" href="#">
                                <i class="feather  feather-users sidemenu_icon"></i>
                                <span class="side-menu__label">Clinic</span><i class="angle fa fa-angle-right"></i>
                            </a>
                            <ul class="slide-menu">
                                <li><a href="index2.html" class="slide-item">Employees</a></li>
                                <li><a href="employee-attendance.html" class="slide-item">Manage Roles</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-toggle="slide" href="#">
                                <i class="feather feather-clipboard sidemenu_icon"></i>
                                <span class="side-menu__label">Insurance</span><i class="angle fa fa-angle-right"></i>
                            </a>
                            <ul class="slide-menu">
                                <li><a class="slide-item" asp-action="Index" asp-controller="Insurances">All Insurances</a></li>
                                <li><a class="slide-item" asp-action="Create" asp-controller="Insurances">Add Insurance</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </aside>
            <!--aside closed-->

            <div class="app-content main-content">
                <div class="side-app">

                    <!--app header-->
                    <div class="app-header header">
                        <div class="container-fluid">
                            <div class="d-flex">
                                <a class="header-brand" href="index.html">
                                    <img src="../../assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Dayonelogo">
                                    <img src="../../assets/images/brand/logo-white.png" class="header-brand-img dark-logo" alt="Dayonelogo">
                                    <img src="../../assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Dayonelogo">
                                    <img src="../../assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
                                </a>
                                <div class="app-sidebar__toggle" data-toggle="sidebar">
                                    <a class="open-toggle" href="#">
                                        <i class="feather feather-menu"></i>
                                    </a>
                                    <a class="close-toggle" href="#">
                                        <i class="feather feather-x"></i>
                                    </a>
                                </div>
                                <div class="mt-0">
                                    <form class="form-inline">
                                        <div class="search-element">
                                            <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
                                            <button class="btn btn-primary-color">
                                                <i class="feather feather-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- SEARCH -->
                                <div class="d-flex order-lg-2 my-auto ml-auto">
                                    <a class="nav-link my-auto icon p-0 nav-link-lg d-md-none navsearch" href="#" data-toggle="search">
                                        <i class="feather feather-search search-icon header-icon"></i>
                                    </a>
                                    <div class="dropdown header-flags">
                                        <a class="nav-link icon" data-toggle="dropdown">
                                            <img src="../../assets/images/flags/flag-png/united-kingdom.png" class="h-24" alt="img">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                            <a href="#" class="dropdown-item d-flex ">
                                                <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/india.png" alt="img" class="h-24"></span>
                                                <div class="d-flex"> <span class="my-auto">India</span> </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex">
                                                <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/united-kingdom.png" alt="img" class="h-24"></span>
                                                <div class="d-flex"> <span class="my-auto">UK</span> </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex">
                                                <span class="avatar mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/italy.png" alt="img" class="h-24"></span>
                                                <div class="d-flex"> <span class="my-auto">Italy</span> </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex">
                                                <span class="avatar mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/united-states-of-america.png" class="h-24" alt="img"></span>
                                                <div class="d-flex"> <span class="my-auto">US</span> </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex">
                                                <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/spain.png" alt="img" class="h-24"></span>
                                                <div class="d-flex"> <span class="my-auto">Spain</span> </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="dropdown header-fullscreen">
                                        <a class="nav-link icon full-screen-link">
                                            <i class="feather feather-maximize fullscreen-button fullscreen header-icons"></i>
                                            <i class="feather feather-minimize fullscreen-button exit-fullscreen header-icons"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown header-message">
                                        <a class="nav-link icon" data-toggle="dropdown">
                                            <i class="feather feather-mail header-icon"></i>
                                            <span class="badge badge-success side-badge">5</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  animated">
                                            <div class="header-dropdown-list message-menu" id="message-menu">
                                                <a class="dropdown-item border-bottom" href="#">
                                                    <div class="d-flex align-items-center">
                                                        <div class="">
                                                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/1.jpg"></span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="pl-3">
                                                                <h6 class="mb-1">Jack Wright</h6>
                                                                <p class="fs-13 mb-1">All the best your template awesome</p>
                                                                <div class="small text-muted">
                                                                    3 hours ago
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-bottom" href="#">
                                                    <div class="d-flex align-items-center">
                                                        <div class="">
                                                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/2.jpg"></span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="pl-3">
                                                                <h6 class="mb-1">Lisa Rutherford</h6>
                                                                <p class="fs-13 mb-1">Hey! there I'm available</p>
                                                                <div class="small text-muted">
                                                                    5 hour ago
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-bottom" href="#">
                                                    <div class="d-flex align-items-center">
                                                        <div class="">
                                                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/3.jpg"></span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="pl-3">
                                                                <h6 class="mb-1">Blake Walker</h6>
                                                                <p class="fs-13 mb-1">Just created a new blog post</p>
                                                                <div class="small text-muted">
                                                                    45 mintues ago
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-bottom" href="#">
                                                    <div class="d-flex align-items-center">
                                                        <div class="">
                                                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/4.jpg"></span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="pl-3">
                                                                <h6 class="mb-1">Fiona Morrison</h6>
                                                                <p class="fs-13 mb-1">Added new comment on your photo</p>
                                                                <div class="small text-muted">
                                                                    2 days ago
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-bottom" href="#">
                                                    <div class="d-flex align-items-center">
                                                        <div class="">
                                                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/6.jpg"></span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="pl-3">
                                                                <h6 class="mb-1">Stewart Bond</h6>
                                                                <p class="fs-13 mb-1">Your payment invoice is generated</p>
                                                                <div class="small text-muted">
                                                                    3 days ago
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class=" text-center p-2">
                                                <a href="#" class="">See All Messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown header-notify">
                                        <a class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
                                            <i class="feather feather-bell header-icon"></i>
                                            <span class="bg-dot"></span>
                                        </a>
                                    </div>
                                    <div class="dropdown profile-dropdown">
                                        <a href="#" class="nav-link pr-1 pl-0 leading-none" data-toggle="dropdown">
                                            <span>
                                                <img src="../../assets/images/users/16.jpg" alt="img" class="avatar avatar-md bradius">
                                            </span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                            <div class="p-3 text-center border-bottom">
                                                <a href="#" class="text-center user pb-0 font-weight-bold">John Thomson</a>
                                                <p class="text-center user-semi-title">App Developer</p>
                                            </div>
                                            <a class="dropdown-item d-flex" href="#">
                                                <i class="feather feather-user mr-3 fs-16 my-auto"></i>
                                                <div class="mt-1">Profile</div>
                                            </a>
                                            <a class="dropdown-item d-flex" href="#">
                                                <i class="feather feather-settings mr-3 fs-16 my-auto"></i>
                                                <div class="mt-1">Settings</div>
                                            </a>
                                            <a class="dropdown-item d-flex" href="#">
                                                <i class="feather feather-mail mr-3 fs-16 my-auto"></i>
                                                <div class="mt-1">Messages</div>
                                            </a>
                                            <a class="dropdown-item d-flex" href="#" data-toggle="modal" data-target="#changepasswordnmodal">
                                                <i class="feather feather-edit-2 mr-3 fs-16 my-auto"></i>
                                                <div class="mt-1">Change Password</div>
                                            </a>
                                            <a class="dropdown-item d-flex" href="#">
                                                <i class="feather feather-power mr-3 fs-16 my-auto"></i>
                                                <div class="mt-1">Sign Out</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/app header-->
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><span class="feather feather-chevrons-up"></span></a>



    <!--Moment js-->
    <script src="../../assets/plugins/moment/moment.js"></script>

    <!-- Bootstrap4 js-->
    <script src="../../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="../../assets/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!-- Sweetalert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--Sidemenu js-->
    <script src="../../assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scroll js-->
    <script src="../../assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="../../assets/plugins/p-scrollbar/p-scroll1.js"></script>

    <!--Sidebar js-->
    <script src="../../assets/plugins/sidebar/sidebar.js"></script>

    <!-- Select2 js -->
    <script src="../../assets/plugins/select2/select2.full.min.js"></script>

    <!-- Circle-progress js-->
    <script src="../../assets/plugins/circle-progress/circle-progress.min.js"></script>

    <!-- INTERNAL Chart js -->
    <script src="../../assets/plugins/chart/chart.bundle.js"></script>
    <script src="../../assets/plugins/chart/utils.js"></script>

    <!-- INTERNAL Apexchart js-->
    <script src="../../assets/plugins/apexchart/apexcharts.js"></script>


    <!--FullCalendar-->
    <script src="//cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js"></script>

    <!-- INTERNAL Data tables -->
    <script src="../../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="../../assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="../../assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="../../assets/plugins/datatable/responsive.bootstrap4.min.js"></script>

    <!-- INTERNAL Pg-calendar-master js -->
    <script src="../../assets/plugins/pg-calendar-master/pignose.calendar.full.min.js"></script>

    <!-- INTERNAL Index js-->
    <script src="../../assets/js/index4-dark.js"></script>
    <script src="../../assets/js/project/project-sidemenuchart.js"></script>

    <!-- Custom js-->
    <script src="../../assets/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
