<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="Pro-Chart EMR" name="description">
    <meta content="Stephen Souvall" name="author">
    <meta name="keywords" content="Physical Therapy" />

    <!-- Title -->
    <title>Pro-Chart EMR</title>

    <!--Favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon.png" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/dark.css" rel="stylesheet" />
    <link href="../../assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="../../assets/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!-- Select2 css -->
    <link href="../../assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

</head>

<body class="dark-mode">

    <div class="page relative error-page3">
        <div class="row no-gutters">
            <div class="col-xl-6 h-100vh">
                <div class="cover-image h-100vh" data-image-src="https://i.ibb.co/thJZQTp/PTTreatment-1.jpg" alt="PT Treatment" border="0">">
                    <div class="container">
                        <div class="customlogin-imgcontent" style="padding: 4rem!important;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 bg-white h-100vh">
                <div class="container">
                    <div class="customlogin-content" style="padding: 2rem 6rem!important;">
                        <div class="header-brand">
                            <img src="../../assets/images/brand/logo-white.png" class="header-brand-img custom-logo-dark w-50 h-auto text-center col-12 mx-auto" alt="Pro-Chart Logo">
                        </div>
                        <div class="pt-4 pb-2">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <!-- Jquery js-->
    <script src="../../assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap4 js-->
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js -->
    <script src="../../assets/plugins/select2/select2.full.min.js"></script>

    <!-- P-scroll js-->
    <script src="../../assets/plugins/p-scrollbar/p-scrollbar.js"></script>

    <!-- Custom js-->
    <script src="../../assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>