@model Calendar.Models.Patient

@{
    ViewData["Title"] = "Create";
}
<section class="calendar-section">
    <div class="card mt-5">
        <div class="card-header border-bottom-0">
            <h3 class="card-title">Add Patient</h3>
        </div>
        <form asp-action="Create" asp-controller="Patients">
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="ReasonForVisit" type="text" class="form-control" placeholder="Reason for Visit">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="input-group">
                        <input asp-for="Gender" type="text" class="form-control" placeholder="Gender">
                        <input type="text" asp-for="DateOfBirth" class="form-control" placeholder="Date of Birth">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="City" type="text" class="form-control" placeholder="City">
                        <input asp-for="State" type="text" class="form-control" placeholder="State" />
                        <input asp-for="Zip" type="text" class="form-control" placeholder="Zip Code" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="HomePhone" type="text" class="form-control" placeholder="Home Phone">
                        <input asp-for="CellPhone" type="text" class="form-control" placeholder="Cell Phone" />
                        <input asp-for="WorkPhone" type="text" class="form-control" placeholder="Work Phone" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="FaxNumber" type="text" class="form-control" placeholder="Fax">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>

    </div>
    <!-- End Row -->

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
