@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mb-5">Welcome to Pro-Chart!</h1>
            <a class="btn btn-lg btn-primary mt-5" asp-area="Identity" asp-page="/Account/Login">Click Here to Enter!</a>
        </div>
    </div>
</div>

                        
    