@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mb-2">Welcome to Pro-Chart!</h1>
            <h6 class="mt-3">A Modern Software Solution for Physical Therapy Clinics</h6>
            <a class="btn btn-lg btn-primary mt-3" asp-area="Identity" asp-page="/Account/Login">Try it out!</a>
        </div>
    </div>
</div>

                        
    